@import url("https://fonts.google.com/specimen/Raleway");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
    margin: 0;
    padding: 0;
  }
  body {
    
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    color: var(--white);
  }
html{
    font-size: 14px;
}

header {
  background-image: url("aweb/Hero.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top 14.5rem center;
  height: 55rem;
  max-height: 100%;
 
}
.capstone {
  font-family: var(--rale-font);
}


.flex-container{
    display:flex;
}
.fylo-logo{
    background-image: url("aweb/logo.svg");
    background-repeat: no-repeat; 
    background-position: center;
    width:15rem;
    height:15rem;
 background-size: 80%;
    max-width: 100%;
    
}
nav{
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
}
ul {
  list-style: none;
}
.space{
    display:inline;
    padding:5px 5px;
}
.raph{
    list-style: none;
    flex-direction:row;
    gap: 4.3rem;
    font-size: 20px;
    font-weight: 400;
    margin-right: 0.4rem;
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway';

}
h1{
    color:hsl(0, 0%, 100%);
   
}
p{
  color:hsl(0, 0%, 100%);

}
.topnav-right {
    float:right;
  }
  .descrip{
      text-align:center;
      background-color: var(--dark-blue);
      background-image: url("aweb/bg-curvy-desktop.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
       font-family: 'Raleway';
    }
  .section1{
    flex-direction: column;
    gap: 2.6rem;
    margin: 0 auto;
    padding-top: 0.4rem;
    width: 50%;
    font-family: 'Raleway';

  }
  .descrip h1 {
    font-size: 2.6rem;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 2.5rem;
    
    
  }
  .descrip p {
    font-size: 1.4rem;
    padding: 0 3.5rem;
    line-height: 2rem;
    word-spacing: 2px;

  }
  :root {
  --capstone-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --dark-blue: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .descrip a {
    background: linear-gradient(90deg, var(--cyan), var(--blue));
    color: var(--white);
    border-radius: 35px;
    margin: 0 auto;
    padding: 1.4rem;
    width: 33%;
    font-weight: 700;
    font-size: 1.1rem;
  }
  .secnd-section {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 7.5rem;
    width: 65%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 12rem;
  }
  .Access {
    max-width: 25%;
    margin: 0 auto;
  }
  .secnd-section section {
    flex-direction: column;
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
  }
  .secnd-section section div {
    width: 89%;
    flex-direction: column;
    gap: 0.7rem;
  }
  
  .secnd-section h2 {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .secnd-section p{
    font-family: "Open Sans";
  }
  .security{
    max-width:25%;
    margin:0 auto;
  }
  .security img {
    width: 80%;
    max-width: 100%;
  }
  .security-info {
    flex-direction: column;
    gap: 1.5rem;
    padding: 8.5rem 0;
  }
  .security h2 {
    width: 80%;
  font-weight: 700;
    font-size: 2.9rem;
  }
  .collaboration{
    max-width:25%;
    margin:0 auto;
    background-image: url("awb/bg-quotes.png");
    background-size: 4rem;
  background-repeat: no-repeat;
  background-position: left;
    position: relative;
  }
  .collaboration section {
    flex-direction: column;
    gap: 1.8rem;
    padding-top: 3.1rem;
    padding-bottom: 1.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    background-color: var(--testimonials-bg);
    border-radius: 10px;
  }
  .any {
    max-width: 25%;
    margin: 0 auto;
  }
  .Third-section {
  flex-direction: row;
  width: 87%;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 0 5rem;
  gap: 2.9rem;
}
.product {
  width: 80%;
  max-width: 100%;
}
.produc-info {
  flex-direction: column;
  gap: 1.5rem;
  padding: 8.5rem 0;
}
.produc-info h2 {
  width: 80%;

  font-weight: 700;
  font-size: 2.9rem;
}

.produc-info p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  word-spacing: 2.5px;
}

.produc-link {
  position: relative;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  margin-top: 3px;
  line-height: 2rem;
}

.produc-link a {
  font-size: 1.26rem;

  color: var(--cyan);
}

.produc-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 30%;
  height: 1px;
  background-color: var(--cyan);
}
.Fouth-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  background-image: url("aweb/bg-quotes.png");
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: left;
  width: 80%;
  margin: 0 auto;
  margin-top: 9rem;
  margin-bottom: 10.5rem;
  z-index: 0;
}
.Fouth-section section {
  flex-direction: column;
  gap: 1.8rem;
  padding-top: 3.1rem;
  padding-bottom: 1.8rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  background-color: var(--testimonials-bg);
  border-radius: 10px;
}

.comment {
  font-family: var(--body-font);
  line-height: 1.45rem;
  font-weight: 400;
  word-spacing: 1px;
  font-size: 1.05rem;
}
.author-details {
  flex-direction: row;
  gap: 0.9rem;
  align-items: center;
  line-height: 1rem;
}
.author-name {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 0.65rem;
  letter-spacing: 1px;
}
.author-status {
  font-family: var(--body-font);
  font-size: 0.55rem;
}
.author1 {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  width: 1.6rem;
  max-width: 100%;
  height: 75%;
}


.fifth {
  position: absolute;
  width: 70%;
  background-color: var(--dark-blue);
  text-align: center;
  flex-direction: column;
  gap: 1.35rem;
  margin: 0 auto;
  transform: translate(50%, 140%);
  right: 50%;
  z-index: -1;
  padding: 3.8rem 2rem;
  align-items: center;
  border-radius: 10px;
}

.fifth h2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.section-four p {
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
}
.input-section {
  flex-direction: row;
  position: relative;
  width: 88%;
  margin: 0 auto;
  padding-top: 1.2rem;
  justify-content: space-between;
}
.fifth input {
  width: 64%;
  padding: 1.1rem;
  border-radius: 35px;
  border: transparent;
  position: relative;
}

.fifth button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 35px;
  border: transparent;
  font-weight: 700;
  width: 28%;
  color: var(--white);
  background: linear-gradient(90deg, var(--cyan), var(--blue));
}

.error-msg {
  display: none;
  position: absolute;
  color: var(--error);
  top: 100%;
  left: -70%;
  right: 0;
  font-size: 0.8rem;
}

/* Footer */
footer {
  position: static;
  bottom: 0;
  height: 40rem;
  background-color: var(--footer-bg);
  margin-top: 15rem;
  flex-direction: column;
  align-items: left;
}

.footer-inner {
  flex-direction: column;
  gap: 2.6rem;
  padding: 4rem 5.7rem;
  justify-content: space-between;
  margin-top: 10rem;
  background-color: var(--footer-bg);
}
.footer-logo {
  max-width: 14%;
  padding-left: 2.55rem;
}
.menu-section {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
}
.menu-section-one {
  flex-direction: column;
  padding-left: 2.9rem;
  width: 29%;
}
.menu-section-two {
  flex-direction: row;
  gap: 8rem;
  width: 61%;
}
.location-icon {
  height: 28%;
}

.menu-section-one div {
  flex-direction: row;
  gap: 2rem;
}
.menu-section-one p {
  font-size: 1.15rem;
  font-family: var(--body-font);
  line-height: 1.7rem;
}

.contact-info {
  flex-direction: column;
  gap: 1.65rem;
  font-family: var(--body-font);
}
.contact-info div {
  flex-direction: row;
  gap: 1.5rem;
}

.menu-pages {
  flex-direction: row;
  gap: 6rem;
}

.menu-two,
.menu-one {
  flex-direction: column;
  gap: 1rem;
}

.menu-two a,
.menu-one a {
  color: var(--white);
  font-size: 1.1rem;
  font-family: var(--body-font);
  font-weight: 400;
}

.socials {
  flex-direction: row;
  gap: 1.25rem;
  text-align: center;
  align-items: center;
}

.socials i {
  color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--white);

  width: 0.9rem;
  height: 0.9rem;
  padding: 0.5rem;
}

/* Transitions */
.menu li,
.intro-text a,
.section-two-link a,
.section-two-link::after,
.section-four button,
.menu-two a,
.menu-one a,
.socials i {
  transition: all ease-in-out 0.3s;
}

@media (hover: hover) {
  .menu li:hover,
  .intro-section a:hover,
  .section-four button:hover,
  .section-two-link:hover a,
  .section-two-link:hover::after,
  .socials i:hover,
  .menu-two a:hover,
  .menu-one a:hover {
    transition: all ease-in-out 0.3s;
  }
  .menu li:hover {
    text-decoration: underline;
  }

  .intro-section a:hover,
  .section-four button:hover {
    background: linear-gradient(90deg, var(--cyan), var(--cyan));
  }

  .section-two-link:hover a {
    color: var(--white);
  }
  .section-two-link:hover::after {
    background-color: var(--white);
  }
  .socials i:hover {
    color: var(--cyan);
    border: 1px solid var(--cyan);
  }
  .menu-two a:hover,
  .menu-one a:hover {
    font-size: 1.2;
  }
}
@media screen and (max-width: 1440px) {
  .intro-section {
    width: 85%;
  }
  .intro-text a {
    width: 50%;
  }
  .section-two {
    flex-direction: column;
    gap: initial;
    width: initial;
  }
  .section-two-img {
    margin: 0 auto;
  }
  .section-three {
    margin-top: initial;
    width: 90%;
  }
  .section-four button {
    width: 30%;
  }

  .menu-section-two {
    position: relative;
  }
  .socials-section {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 100%;
  }
  .error-msg {
    left: -60%;
  }
}
@media screen and (max-width: 900px) {
  nav {
    padding: 10px;
  }
  header {
    height: 35rem;
  }

  .section-one {
    grid-template-columns: 1fr;
  }

  .section-three {
    grid-template-columns: 1fr;
  }

  .section-four {
    width: 90%;
    transform: translate(50%, 190%);
  }

  .input-section {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
  }
  .input-section input,
  .input-section button {
    width: initial;
  }
  .error-msg {
    left: -70%;
    top: 50%;
  }

  .footer-inner {
    padding-bottom: 10rem;
  }

  footer,
  .footer-inner,
  .menu-section,
  .menu-section-two,
  .menu-pages {
    flex-direction: column;
    text-align: left;
    gap: 2rem;
  }
  .menu-section {
    gap: 1rem;
  }
  .menu-section-one {
    width: initial;
    padding: initial;
  }

  .footer-logo {
    padding: initial;
    max-width: 70%;
  }
  .socials-section {
    top: 110%;
    left: 50%;
  }
}

@media screen and (max-width: 800px) {
  .error-msg {
    left: -65%;
  }
}

@media screen and (max-width: 650px) {
  .error-msg {
    left: -55%;
  }
}

@media screen and (max-width: 490px) {
  .error-msg {
    left: -45%;
  }
}

@media screen and (max-width: 390px) {
  .error-msg {
    left: -35%;
  }
}